* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: lightblue;
  font-family: Helvetica, sans-serif;
}

#night-mode {
  margin: 20px 0;
}

#night-mode button {
  width: 120px;
  height: 30px;
}

.shadow {
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.5),
    -5px -5px 8px 0 rgba(255, 255, 255, 0.5);
}

.main-container {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

#submit-btn {
  width: 100%;
  margin: 10px 0;
}

#submit-btn:active {
  box-shadow: 2px 2px 5px 0 rgba(255, 255, 255, 0.5) inset,
    -2px -2px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.results-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-container {
  width: 80%;
  height: 30px;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.result {
  width: 0;
  height: 100%;
  background: lightcoral;
  padding: 6px 0 0 5px;
}

#voters-cont {
  margin: 10px 0;
}
